<table class="table table-striped table-inverse">
  <thead class="thead-inverse">
    <tr>
      <th class="col-md-2">Icono</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Sexo</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of persona">
        <td scope="row" class="col-md-2"><i class="{{p.Icono}}" style="font-size: 10mm" aria-hidden="true"></i></td>
        <td>{{p.Nombre}}</td>
        <td>{{p.Apellido}}</td>
        <td>{{p.Edad}}</td>
        <td>{{p.Sexo}}</td>
      </tr>
    </tbody>
</table>